body{
    background-color: #D6CBC3;
    margin: 0;
    font-size: 24px;

}
.header{
    text-align: center;
}
.header h1{
    margin: 0;
    background-color: whitesmoke;
    width:fit-content;
    margin: 10px auto;
    padding: 0 10px;
    color: #3A3E47;
}
.top-container{
    margin: 2% 2% 1% 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-container{
    background-color: #FFF;
    margin-top: 0 !important;
    padding-top: 2%;

}
.add-todo{
    display: flex;
    flex-direction: column;

}
.title,.description,.points-select{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.cancel{
    background-color: #D8544F !important;
    color: #EFE8EF;
}
.todo-btn,.cancel{
    width: 120px;
    background-color: cadetblue;
    color: #FFF;
    border: none;
    border-radius: 5px;
    height: 30px;
    align-self: center;
    margin: 10px 0;
    font-size: 20px;
    cursor: pointer;

}

textarea{
    border: 1px solid #AAA; 
    color: #888;
    margin-left: 10px;
    border-radius: 3px;

/*    background-color: #222;*/
}
.btm-container{
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    font-size: 24px;

}
.todo-name p{
    font-size: 28px;
    margin: 0 40px;

}

.todo-top{
    padding: 10px 10px 10px 0;
    display: flex;
    justify-content: space-between;
    
}
.todo-name{
    display: flex;
}
.hide{
    display: none;
}
.done-check{
    margin-right: 10px;
}
.todo{
    background-color: #EEEEEE;
    color: #333;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
}
.todo-desc{
    font-size: 24px;
    margin-left: 5%;
    margin-top: 0;
    color: #666;
}
.todo-list,.done-list{
    list-style: none;
    padding: 0 ;
}
.done{
    background-color: #999;
}
.done .todo-name p,.done .todo-desc{
    text-decoration: line-through;

}
.search{
    margin: 10px;
}
.search input{
    border: 1px solid #E8E8E8;
    border-radius:5px;
    height: 30px;
}
.title-search-field{
    margin-right: 20px;
}
.delete{
    margin-left: 10px;
    color: #D8544F;
}
.points-slider{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 72%; /* Full-width */
    height: 25px; /* Specified height */
    background: wheat; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    
}
.points-slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
.points-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #D6CBC3; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  .points-slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #D6CBC3; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

#submit_search{
    background-color: #E8F8EF;
    padding: 0 10px;
}
#one,#two,#three,#four,#five{
    display: none;
}
#point{
    background-color: #3A3E47;
    height: 100%;
    width: 30px;
    color: whitesmoke;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 10px 0 0 10px;
}
#search_todos{
    background-color: cadetblue;
    color: white;
    padding: 2px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
