body{
    background-color: #607DEB;
    margin: 0;
}
.header,.top-container{
    margin: 2% 2% 1% 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    color: white;
}
.top-container{
    background-color: #FFF;
    margin-top: 0 !important;
    padding-top: 2%;
}
.add-todo{
    display: flex;
    flex-direction: column;

}
.title,.description,.points-select{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.cancel{
    background-color: #cf4020 !important;
    width: 100px !important;
    color: #EFE8EF;
}
.todo-btn,.cancel{
    width: 120px;
    background-color: #AD8CEF;
    color: #FFF;
    border: none;
    border-radius: 5px;
    height: 30px;
    align-self: center;
    margin: 10px 0;

}

textarea{
    border: 1px solid #AAA; 
    color: #888;
    margin-left: 10px;
    border-radius: 3px;

/*    background-color: #222;*/
}
.hide{
    display: none;
}
.btm-container{
    margin: 2%;
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.todo-name p{
    font-size: 18px;
    margin: 0 10px;

}

.todo-top{
    padding: 10px 10px 0 10px;
    display: flex;
    justify-content: space-between;
}
.todo-name{
    display: flex;
}
.done-check{
    margin-right: 10px;
}
.todo{
    background-color: #BD9CFF;
    color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
}
.todo-desc{
    font-size: 14px;
    margin-left: 5%;
    margin-top: 0;
    color: #DDD;
}
.todo-list,.done-list{
    list-style: none;
    padding: 0 ;
}
.done{
    background-color: #999;
}
.done .todo-name p,.done .todo-desc{
    text-decoration: line-through;

}
.search{
    margin: 10px;
}
.search input{
    border: 1px solid #E8E8E8;
    border-radius:5px;
    height: 30px;
}
.title-search-field{
    margin-right: 20px;
}
#submit_search{
    background-color: #E8F8EF;
    padding: 0 10px;
}
#one,#two,#three,#four,#five{
    display: none;
}
